.skills{
    padding:120px 8%;
    background:#0B1120;
}

.section-title{
    text-align:center;
    font-size:48px;
    margin-bottom:60px;
}

.skills-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

    gap:25px;

}

.skill-card{

    background:#1E293B;

    padding:35px;

    border-radius:20px;

    text-align:center;

    transition:.4s;

    border:1px solid rgba(255,255,255,.08);

}

.skill-card:hover{

    box-shadow:0 15px 35px rgba(6,182,212,.35);

}

.skill-icon{

    font-size:55px;

    color:#06B6D4;

    margin-bottom:20px;

}

.skill-card h3{

    color:white;

}