body{
    margin:0;
    font-family:Poppins,sans-serif;
    background:#0B1120;
    color:white;
    scroll-behavior:smooth;
}

html {
  scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
  --bg:#0F172A;
  --card:#1E293B;
  --primary:#06B6D4;
  --secondary:#8B5CF6;
  --text:#F8FAFC;
  --text2:#CBD5E1;
}
body{
    background:var(--bg);
    color:var(--text);
}